header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  ul{
    display: flex;
  }
  li a{
    padding: 37px 10px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    &:hover,
    &.active {
      color: $primaryColor;
      border-bottom: 5px solid $primaryColor;
    }
  }
}
header img{
  width: 70px;
}